// @import url(../../../public/fonts/groupe.otf);

.heroContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  .heading {
    user-select: none;
    z-index: -1;
    -webkit-user-drag: none;
  }

  .heroSubText {
    z-index: -1;
    color: #bdd2eb;
    font-family: "GROUPE";
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.3em;
    user-select: none;
  }
  .cta {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
  }
}

@media only screen and (max-width: 600px) {
  .heroContainer {
    padding: 1rem;
    .heading {
      width: 80vw;
    }
    .heroSubText {
      font-size: 16px;
      letter-spacing: 0.1rem;
    }
  }
}
