.heroContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  text-align: center;

  .heading {
    margin-bottom: 1.5rem;
    user-select: none;
    z-index: -1;
    -webkit-user-drag: none;
  }
  .devfolioBtn {
    button {
      padding: "0 16px";
      max-width: "15rem";
      font-size: "1rem";
    }
  }
  .heroSubText {
    z-index: -1;
    color: #bdd2eb;
    font-family: "Inter";
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.3em;
    user-select: none;
  }
}

@media only screen and (max-width: 700px) {
  .heroContainer {
    padding: 1rem;
    .heading {
      width: 80vw;
    }
    .heroSubText {
      font-size: 16px;
      letter-spacing: 0.1rem;
      padding: 0;
    }
  }
}
