p {
  max-width: 1000px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: clamp(12px, 2vw, 20px);
  line-height: 36px;
  margin: 0.5rem auto;
  text-align: center;
  color: rgba(255, 255, 255, 0.65);
  padding: 0.25rem 1.5rem;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
