.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #BDD2EB;
    height: 2.5rem;

    .details {
        font-family: poppins;
        font-size: clamp(12px, 2vw, 20px);;
        font-weight: 400;
        line-height: 36px;
        text-align: center;
        color: #000;

        .time {
            display: inline;
            background-color: #000;
            font-weight: 300;
            color: #fff;
            margin: 0 5px;
            border-radius: 5px;
            padding: 0 5px;
            span {
                font-weight: 200;
            }
        }
    }
    p:nth-child(2){
        display: none;
    }
}

.cross {
    position: absolute;
    right: 0;
    top: 10px;
    margin-right: 2rem;

    :hover {
        cursor: pointer;
    }
 }

@media only screen and (max-width: 600px) {
    .container {
        height: 3rem;
        p {
            display: none;
            font-size: 1.2rem !important;
            font-weight: 400;
            div {
                font-size: 1.2rem !important;
                border-radius: 5px;
                padding: 0 5px;
                span {
                    font-weight: 400;
                }
            }
        }
        p:nth-child(2){
            display: flex;
        }
    }
}