.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburgerTop,
.hamburgerMiddle,
.hamburgerBottom {
  position: absolute;
  width: 24px;
  height: 2px;
  top: 0;
  left: 0;
  background: #fff;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburgerMiddle {
  transform: translateY(7px);
}

.hamburgerBottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
}

.open .hamburgerTop {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburgerMiddle {
  display: none;
}

.open .hamburgerBottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}
