.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5.5rem;

  .title {
    position: relative;
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: clamp(48px, 15vw, 160px);
    line-height: 200px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: rgba(189, 210, 235, 0.25);
  }
  .subHeading {
    position: absolute;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: clamp(12px, 4vw, 28px);
    line-height: 42px;
    letter-spacing: 0.3em;
    color: #ffffff;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    margin-top: 2rem;
    .title {
      font-size: clamp(24px, 16vw, 80px);
      line-height: 150px;
    }
    .subHeading {
      font-size: clamp(8px, 3vw, 14px);
      line-height: 21px;
    }
  }
}
