@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Clash Grotesk", sans-serif;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(127, 125, 125, 0.5);
  border-radius: 10px;
}

scrollbar-thumb {
  background-color: rgba(127, 125, 125, 0.5);
  border-radius: 10px;
}
