.container {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 130px;
  a {
    font-family: "GROUPE";
    font-size: 24px;
    font-weight: 300;
    line-height: 36px;
    letter-spacing: 0em;
    color: #919191;
    text-decoration: none;
    width: max-content;
    transition: 0.3s ease-in-out;
    &:hover {
      color: #fff;
    }
  }
}

@media only screen and (max-width: 600px) {
  .container {
    display: none;
    visibility: hidden;
  }
}
