.wrapper{
  max-width: 80%;
  height: 100%;
  margin: 0 auto;
  margin-top: 1rem;

  .text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-align: left;
    color: #999999;
    margin-top: 2rem;

    .detail{
      color: #FFFFFF;
    }
  }

  .about{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    margin-top: 1rem;
  }

  .content{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-align: left;
    color: #999999;
  }

  .otherSpeakers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;

    .header{
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      line-height: 58px;
      letter-spacing: 0.44em;      
      color: rgba(255, 255, 255, 0.66);
      margin-bottom: 4rem;
    }

    .speakerContainer{
      width: 95%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 4rem;
    }
  }
}

@media screen and (max-width: 600px){
  .wrapper{
    max-width: 100%;
    padding-inline: 1rem;
    img{
      width: 100%;
    }

    .text{
      font-size: 18px;
      line-height: 24px;
      text-align: center;
      margin-top: 3rem;
    }

    .about{
      font-size: 18px;
      line-height: 24px;
      text-align: center;
    }

    .content{
      font-size: 18px;
      line-height: 24px;
      text-align: center;
    }

    .otherSpeakers{
      .header{
        font-size: 30px;
        line-height: 32px;
        text-align: center;
        margin-bottom: 1.5rem;
      }
    }
  }
}
