.footer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 5rem;
  background-color: #00000040;
  padding: 2.5rem 0 2rem 0;

  .media {
    .club {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;

      h2 {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        text-align: center;
        color: #cecece;
      }
    }

    .college {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 18px;
      color: #727272;
      text-align: center;
      margin-top: 0.5rem;
    }

    .contact {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      margin-top: 1rem;

      .contact_num {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 22px;
        color: #727272;
      }
    }

    .social {
      display: flex;
      justify-content: center;
      gap: 1.5rem;
      padding-inline: 1rem;
      margin-top: 1rem;

      img {
        width: 25px;
        height: 25px;
        color: #727272;
      }
    }
  }

  .site {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;

    h2 {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      text-align: center;
      color: #cecece;
    }

    a {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 18px;
      color: #727272;
      text-decoration: none;
      transition: 0.3s ease-in-out;

      &:hover {
        color: #ffffff;
      }
    }
  }

  .resources {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;

    h2 {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      text-align: center;
      color: #cecece;
    }

    a {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 18px;
      color: #727272;
      text-decoration: none;
      transition: 0.3s ease-in-out;

      &:hover {
        color: #ffffff;
      }
    }
  }

  .clubdetails {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;

    h2 {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      text-align: center;
      color: #cecece;
    }

    a {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 18px;
      color: #727272;
      text-decoration: none;
      transition: 0.3s ease-in-out;

      &:hover {
        color: #ffffff;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .footer {
    flex-direction: column;

    .media {
      margin-bottom: 2rem;
    }

    .site {
      margin-bottom: 2rem;
      align-items: center;
    }

    .resources {
      margin-bottom: 2rem;
      align-items: center;
    }

    .clubdetails {
      margin-bottom: 2rem;
      align-items: center;
    }
  }
}
