.content {
  max-width: 800px;
  margin: 1rem auto;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  .text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    color: rgba(255, 255, 255, 0.55);
    text-align: center;
    font-size: clamp(18px, 2vw, 20px);
    margin-bottom: 1rem;

    .detail{
      color: #fff;
      font: bold;
    }
  }
  
  .buttonContainer{
    width: 11rem;
    margin-top: 1rem;
    a {
  text-decoration: none;
  background-color: #fff;
  color: #273339;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  gap: 6px;
  width: auto;
  min-width: 10rem;
  border-radius: 4px;
  border: none;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  img {
    width: 20px;
    height: 20px;
  }
  span {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
  }
  &:hover {
    transform: translateY(-2px);
  }
}

  }
}




.section {
    max-width: 800px;
    margin: 1rem auto;
    color: #fff;
    margin-top: 3rem;
    .heading{
      margin: 1.5rem 0;
      font-family: "Lato";
      font-style: normal;
      font-weight: 400;
      font-size: clamp(24px, 4vw, 34px);
      line-height: 60px;
      letter-spacing: 0.1em;
      text-align: center;
      color: #fff;
    }
    .steps {
      padding: 0 2.5rem;
      h3 {
        font-family: "Poppins";
        color: #ffffff7d;
        margin-bottom: 1.5rem;
        font-weight: 500;
        span {
          margin-right: 10px;
          color: #fff;
        }
         a {
          font-family: 'Poppins';
          text-decoration: none;
          color: #bdd2eb;
        }
      }
    }
    .cardContainer {
      display: flex; 
      flex-wrap: wrap; 
      justify-content: space-around;
      padding: 0 1rem;
      .card {
        padding: 0 1.5rem;
        max-width: 20rem;
      h2{
        margin-top: 2rem;
        font-family: "Lato";
        font-style: normal;
        font-weight: 400;
        margin-bottom: 1rem;
       
      }
      p {
        font-family: 'Poppins';
        color: #ffffff7d;
        margin-bottom: 1rem;
        font-weight: 500;
      }
      a {
        font-family: 'Poppins';
        text-decoration: none;
        color: #bdd2eb;
        &:hover {
          color: #fff;
        }
      }
    }
    } 

  }
@media only screen and (max-width: 600px) {
  .content {
    width: 90%;
    margin: 1rem auto;

    text {
      font-size: 1rem !important;
    }
  }
}