.memberCard {
  width: 18rem;
  padding: 1rem;

  .content {
    display: flex;
    flex-direction: column;

    img {
      width: 16rem;
      height: 17.75rem;
      border-radius: 6px;
    }

    .details {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 0.5rem;

      .name {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        text-align: center;
        letter-spacing: 0.1em;
        color: #ffffff;
      }

      .description {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        color: #727272;
      }

      .social {
        display: flex;
        justify-content: center;
        gap: 1.5rem;
        padding-inline: 1rem;
        margin-top: 1rem;

        a {
          text-decoration: none;
          filter: invert(1) brightness(75%);

          &:hover {
            filter: invert(1) brightness(100%);
          }
        }

        img {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}
