.heading{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 54px; 
  text-align: center;
  color: #A9A9A9;
}

.accordian {
  margin-top: 3rem;
}

@media only screen and (max-width: 600px) {
  .heading{
    font-size: 20px;
  }

  .accordian {
    margin-top: 3rem !important;
  }
}
