.text {
  font-family: "Poppins";
  font-style: normal;
  margin: 0 auto;
  font-weight: 400;
  font-size: clamp(12px, 2vw, 20px);
  line-height: 36px;
  text-align: center;
  color: rgba(255, 255, 255, 0.65);
  margin-bottom: 10rem;
}

@media screen and (max-width: 600px) {
  .text {
    font-size: 0.8rem;
  }
}
