h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: clamp(28px, 2vw, 98px);
  line-height: 36px;
  text-align: center;
  margin-top: 1rem;
  color: rgba(255, 255, 255, 0.65);
  margin-bottom: 10rem;
}
