.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  max-height: fit-content;
  overflow-y: scroll;
  h1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: clamp(28px, 2vw, 98px);
    line-height: 36px;
    text-align: center;
    margin-top: 5rem;
    color: rgba(255, 255, 255, 0.65);
  }
}
